@import url("colors.css");


address {
  font-style: unset;
  margin-bottom: 0;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color_primary_text);
}



a {
  text-decoration: none;
  color: var(--color_primary_text);
}
