@import url("colors.css");

.icon{
  text-align: center;
  min-width: 1.2rem;
  display: inline-block;
  color: var(--color_primary_dark);
}

.icon-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color_secondary_light);
  border-radius: 50%;
  margin: 0.3rem;
  padding: 0.5rem
}

.icon-inline{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon-inline .icon-wrapper{
  margin-right: 1rem;
}