@import url("colors.css");

.icon {
  text-align: center;
  display: inline-block;
  color: var(--color_primary_dark);
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--color_secondary_light);
  border-radius: 50%;
  margin: 0.3rem;
  padding: 0.5rem
}
