@import url("default.css");
@import url("colors.css");
@import url("icons.css");
@import url("stars.css");

#left-column,
#right_column {
    border-radius: 5px;
    border: 2px solid;
}

#left-column {
    background: var(--color_secondary);
    border-color: var(--color_secondary_dark);
}

#profile-picture {
    max-width: 15rem;
    max-height: 15rem;
    border-color: var(--color_secondary_dark);
    border-radius: 5px;
}

#right-column {
    background: var(--color_secondary);
    border-color: var(--color_secondary_dark);
}

#profile h1 {
    color: var(--color_primary_dark);
}

.main-section {
    border-radius: 5px;
}

.main-section .section-h {
    background-color: var(--color_primary_dark);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section-h h2 {
    color: var(--color_secondary_light);
}

.cv-entry {
    background-color: var(--color_secondary_light);

}

.cv-entry > section {
    border-bottom: var(--color_secondary) dashed;
}


.cv-entry > section:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.time {
    color: var(--color_primary_dark);
    border-right: var(--color_secondary) dashed;
}

.cv-entry .activity .header .title {
    color: var(--color_primary_dark);
}


span.title {
    color: var(--color_primary_dark);
}

.bar {
    background: var(--color_primary_dark);
    border-radius: 5px;
    width: 100%;
    padding: 1em;
}
