@import url("default.css");
@import url("colors.css");
@import url("icons.css");
@import url("stars.css");


#main{
    min-height: 100vh;
    justify-content: center;
    margin: 2rem;
}

#left_column, #right_column{
    align-content: space-between;
    border-radius: 5px;
    padding: 1em;
    border: 2px solid;
    margin: 1rem 1rem;
}

#resume {
    flex: 1;
    justify-content: center;
}



#left_column {
    flex: 1;
    background: var(--color_secondary);
    border-color: var(--color_secondary_dark);
    margin-left: 0;

}

#profile_picture {
    display: inline-block;
    max-width: 20rem;
    max-height: 20rem;
    border-color: var(--color_secondary_dark);
    border-radius: 5px;
}



.skill{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

.skill .skill_name{
    flex: 1;
    display: inline-block;
}

.skill .skill_rating{
    display: inline-block;
}


#right_column {
    flex: 3;
    background: var(--color_secondary);
    border-color: var(--color_secondary_dark);
    margin-right: 0;
}

#profile{
    margin-bottom: 1rem;
}


#profile > *{
    padding: 1rem;
}

#profile h1 {
    font-size: 3rem;
    color: var(--color_primary_dark);
}

#profile h2 {
    font-size: 2rem;
}

#profile ul{
    padding: 1rem 0;
}

.main_section {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--color_secondary_light);
}

.main_section .section_h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    background-color: var(--color_primary_dark);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}


.main_section .section_h .icon-container {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    flex: 1
}

.section_h h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex: 8;
    text-align: left;
    color: var(--color_secondary_light);
    margin: auto auto;
    padding: 0 1rem;
}


.cv_entry{
    border-bottom: var(--color_secondary) dashed;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 0;
}

.cv_entry > * {
    padding: 1 1rem;
}

.cv_entry:last-child{
    border-bottom: none;
    margin-bottom: 0;
}



.cv_entry .time{
    text-align: right;
    flex: 1;
    color: var(--color_primary_dark);
    border-right: var(--color_secondary) dashed;
    margin-bottom: 1rem;
}

.cv_entry .time time{
    display: inline-block;
    font-size: 1.3rem;
}

.cv_entry .activity{
    flex: 8;
    display: flex;
    flex-direction: column;
}

.cv_entry .activity .header{
    flex: 1;
    margin-bottom: 1rem;

}

.cv_entry .activity .header .title{
    color: var(--color_primary_dark);
    font-size: 2rem;
}

.cv_entry .activity .header .establishment{
    line-height: 1.4rem;
}

.cv_entry .activity .header .establishment h4{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.cv_entry .activity .engagement{
    flex: 3;
}

.cv_entry .activity .engagement h5{
    font-size: 1.2rem;
}

.cv_entry .activity .engagement .description{
    margin-bottom: 2rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

.cv_entry .activity .engagement .projects{
    line-height: 1.8rem;
}

.cv_entry .activity .engagement .projects h5{
    margin-bottom: 1rem;
}

.cv_entry .activity .engagement .projects li{
    margin: 1rem 0;
}

