{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "selector-class-pattern": null,
    "no-descending-specificity": null
  }
}
